@import "~tailwindcss/utilities";
@import "~tailwindcss/preflight";
@import "~tailwindcss/components";

input,select,button{
  outline: none;
}
input:focus,select:focus,button:focus{
  outline: none;
}
